body{

  background-color: thistle;
}

.app-container{
  display: flex;
  padding: 1%;
}

.app-left-pannel{
  width: 30%;
  background-color: rgb(233, 233, 233);
}

.app-right-pannel{
  margin-left: 1%;
  width: 69%;
  display: flex;
  flex-direction: column;
}

.app-right-top-pannel{
  display: block;
  padding: 10px;
  background-color: rgb(233, 233, 233);
}

.app-right-bottom-pannel{
  margin-top: 1%;
  background-color: rgb(233, 233, 233);
}