.form-container{
    margin: 10px;
}

h3 {
    margin: 0%;
    margin-top: 10px;
    padding: 0%;
    text-align: center;
}

.add-button-container{
    text-align: center;
}

#add-button{
    width: 100px;
    padding: 8px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 7px;
    color: white;
    background-color: rgb(129, 91, 235);
}