.search-comp-container{
    display: block;
    margin: 10px 20px;
    padding-bottom: 10px;
    background-color: white;
}

#search-input{
    margin: 20px 10px 10px 10px;
    padding-bottom: 1px;
    width: 60%;
}

#search-button{
    margin: 10px ;
    float: right;
    padding: 10px 25px;
    text-align: center;
    border-radius: 7px;
    color: white;
    background-color: rgb(129, 91, 235);
}

